# <img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>
# 
# Assignment 01: Evaluate the GDP Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [5]:
#Import required library
import numpy as np
import pandas as pd

In [6]:
#Manually add the dataset
Country=['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'
]
Gdp=[2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]


list_of_tuples = list(zip(Country, Gdp))

df = pd.DataFrame(list_of_tuples, columns = ['Country', 'Gdp'])
df.head()

     Country           Gdp
0    Algeria   2255.225482
1     Angola    629.955306
2  Argentina  11601.630220
3  Australia  25306.824940
4    Austria  27266.403350

#### 2: Find and print the name of the country with the highest GDP

In [7]:
#Use the argmax() method to find the highest GDP
print(df['Gdp'].argmax())

45

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

In [8]:
#Print the name of the country
print(df.iloc[df['Gdp'].argmax()])

Country     Norway
Gdp        40034.9
Name: 45, dtype: object

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

#### 3: Find and print the name of the country with the lowest GDP

In [9]:
#Use the argmin() method to find the lowest GDP
df['Gdp'].argmin()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.

21

In [10]:
#Print the name of the country
print(df.iloc[df['Gdp'].argmin()])

Country    Ethiopia
Gdp         229.677
Name: 21, dtype: object

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [11]:
#Use a for loop to print the required output
getCountry = input("evaluating country : \t")
print(df[df['Country']==getCountry])

evaluating country : 	India
   Country         Gdp
32   India  837.746401

#### 5: Print out the entire list of the countries with their GDPs

In [12]:
#Use a for loop to print the required list

for ind in df.index: 
     print(df['Country'][ind], df['Gdp'][ind] , sep="  \t ")

Algeria  	 2255.225482
Angola  	 629.9553062
Argentina  	 11601.63022
Australia  	 25306.82494
Austria  	 27266.40335
Bahamas  	 19466.99052
Bangladesh  	 588.3691778
Belarus  	 2890.345675
Belgium  	 24733.62696
Bhutan  	 1445.760002
Brazil  	 4803.398244
Bulgaria  	 2618.876037
Cambodia  	 590.4521124
Cameroon  	 665.7982328
Chile  	 7122.938458
China  	 2639.54156
Colombia  	 3362.4656
Cyprus  	 15378.16704
Denmark  	 30860.12808
El Salvador  	 2579.115607
Estonia  	 6525.541272
Ethiopia  	 229.6769525
Fiji  	 2242.689259
Finland  	 27570.4852
France  	 23016.84778
Georgia  	 1334.646773
Ghana  	 402.6953275
Grenada  	 6047.200797
Guinea  	 394.1156638
Haiti  	 385.5793827
Honduras  	 1414.072488
Hungary  	 5745.981529
India  	 837.7464011
Indonesia  	 1206.991065
Ireland  	 27715.52837
Italy  	 18937.24998
Japan  	 39578.07441
Kenya  	 478.2194906
South Korea  	 16684.21278
Liberia  	 279.2204061
Malaysia  	 5345.213415
Mexico  	 6288.25324
Morocco  	 1908.304416
Nepal  	 274.8728621
New Zealand  	 14646.42094
Norway  	 40034.85063
Pakistan  	 672.1547506
Peru  	 3359.517402
Qatar  	 36152.66676
Russia  	 3054.727742
Singapore  	 33529.83052
South Africa  	 3825.093781
Spain  	 15428.32098
Sweden  	 33630.24604
Switzerland  	 39170.41371
Thailand  	 2699.123242
United Arab Emirates  	 21058.43643
United Kingdom  	 28272.40661
United States  	 37691.02733
Uruguay  	 9581.05659
Venezuela  	 5671.912202
Vietnam  	 757.4009286
Zimbabwe  	 347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [13]:
print("Highest GPD value     \t\n", df[df['Gdp'] == df['Gdp'].max()],end="\n\n")
print("Lowest GDP value      \t\n", df[df['Gdp'] == df['Gdp'].min()],end="\n\n")
print("Mean GDP value        \t\n", df['Gdp'].mean(),end="\n\n")
print("Standardized GDP value\t\n", df['Gdp'].std(),end="\n\n")
print("Sum of all the GDPs   \t\n", df['Gdp'].sum(),end="\n\n")

Highest GPD value
    Country          Gdp
45  Norway  40034.85063

Lowest GDP value
      Country         Gdp
21  Ethiopia  229.676952

Mean GDP value
 11289.409271639684

Standardized GDP value
 12846.190626580401

Sum of all the GDPs
 711232.7841133